@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 76, 86, 106;
    --background-start-rgb: 216, 222, 233;
    --background-end-rgb: 236, 239, 244;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 236, 239, 244;
        --background-start-rgb: 46, 52, 64;
        --background-end-rgb: 76, 86, 106;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
